.control-block {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;

  @media (width <= 768px) {
    padding: 0.5rem;
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.control-block__item {
  display: flex;
  margin: 0 5px;
}

.flex-50 {
  flex-basis: 50%;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;

  & .flex-1,
  & .flex-50 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.flex-1 {
  flex: 1;

  & .items {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &.flex-124 {
    flex: 0 1 124px;
  }
}

.items {
  padding: 0.5rem;
}
